        
        <% posts.forEach(function(post, i){ %>
            <article id="post<%= i %>" class="post">
            <header>
            <a href="#post<%= i %>"><h1><%= post.title %></h1></a>
            <h2>Written by <a href="#"><%= post.username %></a> on <time><%= post.date %></time>.<h2>
            </header>
            <p>
            <%= post.body %>
            </p>
            </article>
             
                <button class="deletePostBtn" type="button">Delete</button>
                <button class="editPostBtn" type="button">Edit</button>
        <% }); %>        
        
        <script>
        // Accordion setup
        $("#posts").accordion({ 
            header: "h1",
            active: "false",
            collapsible: "true"
        });
         
        // JavaScript to provide Edit/Delete button functionality
        
            $(".deletePostBtn").click(function(){
                $.ajax('/', {
                    data: { title: $(this).closest('h1').text(), 
                            body: $(this).closest('p').text()
                          },
                    type: delete,
                    success: alert("Post deleted.")
                });
            });
            $(".editPostBtn").click(function(){
                
                //Fill new post form fields with values from post
                
                $("#userField").val("$(this).closest('a').text()");
                $("#titleField").val("$(this).closest('h1').text()");
                $("#postField").val("$(this).closest('p').text()");
                
                //Change submit button to use Ajax method instead of default
                
                $("#postForm :submit").click(function( e ){
                    e.preventDefault();
                    $.ajax('/', {
                        data: { title: $(this).closest('h1').text(), 
                                body: $(this).closest('p').text()
                            },
                        type: put,
                        success: alert("Post updated.")
                    });
                });                
            });
        
        </script>


