<div class="row">
    <div class="large-6 columns">
        <dl class="accordion" data-accordion>
        <% posts.forEach(function(post){ %>
        <dd>
            <a href="#<%= post.title %>"><h3><%= post.title %></h3></a>
            <div id=<%= post.title %> class="content">
            
            <h6>Written by <a href="#"><%= post.user %></a> on <time datetime="<%= post.date %>"></time>.</h6>
                   
            <%= post.body %>
            
            </div>
        </dd>
        <% }); %>
        </dl>
    </div>    
</div>
