        
        <% posts.forEach(function(post, i){ %>
            <article id="post<%= i %>" class="post">
            <header>
            <a href="#post<%= i %>"><h1><%= post.title %></h1></a>
            <h2>Written by <a href="#"><%= post.username %></a> on <time><%= post.date %></time>.<h2>
            </header>
            <p>
            <%= post.body %>
            </p>
            </article>
            <% if (locals.user){ %>
            <%    if (locals.user.username == post.username) { %>
                <button class="deletePostBtn" type="button">Delete</button>
                <button class="editPostBtn" type="button">Edit</button>
            <% } } %>
        <% }); %>
        
        
        <script>
        // Accordion setup
        $(".post").accordion({ header: "h1" });
         
        // JavaScript to provide Edit/Delete button functionality
        
            $(".deletePostBtn").click(function(){
                $.ajax('/', {
                    data: { title: $(this).closest('h1').text(), 
                            username: <% locals.user.username ? locals.user.username : '' %>,
                            body: $(this).closest('p').text()
                          },
                    type: DELETE,
                    success: alert("Post deleted.")
                });
            });
            $(".editPostBtn").click(function(){
                
                //Fill new post form fields with values from post
                
                $("#userField").val("<% locals.user.username ? locals.user.username : '' %>");
                $("#titleField").val("$(this).closest('h1').text()");
                $("#postField").val("$(this).closest('p').text()");
                
                //Change submit button to use Ajax method instead of default
                
                $("#postForm :submit").click(function( e ){
                    e.preventDefault();
                    $.ajax('/', {
                        data: { title: $(this).closest('h1').text(), 
                                username: <% locals.user.username ? locals.user.username : '' %>,
                                body: $(this).closest('p').text()
                            },
                        type: PUT,
                        success: alert("Post updated.")
                    });
                });                
            });
        
        </script>


