        
        <% posts.forEach(function(post, i){ %>
            <article id="<%=post._id%>" class="post">
                <header>
                    <a href="<%=post._id%>"><h1><%= post.title %></h1></a>
                    <h2>Written by <span class="author"><%= post.username %></span> on <time><%= post.date %></time>.<h2>
                </header>
                
                <p><%=post.body%></p>
                
                <div class="buttonRow">
                    <button class="deletePostBtn" type="button">Delete</button>
                    <button class="editPostBtn" type="button">Edit</button>
                </div>
                
            </article>
             

        <% }); %>        

        
        <script>
        /*$("#accordion").accordion({ 
            header: "header",
            active: "false",
            collapsible: "true"
        });*/
        // JavaScript to provide Edit/Delete button functionality
        
            $(".deletePostBtn").on('click', function(){

                $.ajax('/', {
                    data: { title: $(this).parent().siblings('header').find('h1').text(),
                            username: $(this).parent().siblings('header').find('.author').text(),
                            body: $(this).parent().siblings('p').text()
                          },
                    type: "DELETE"
                        
                });
            });
            
            $(".editPostBtn").click(function(){
                
                //Fill new post form fields with values from post
                $("#postForm").dialog('open');
                $("#userField").val($(this).parent().siblings('header').find('.author').text());
                $("#titleField").val($(this).parent().siblings('header').find('h1').text());
                $("#postField").val($(this).parent().siblings('p').text());
                $("#postID").val($(this).parents('article').attr('id'));
                //Change submit button to use Ajax method instead of default action
                
                $("#postButton").on('click', function( e ){
                    e.preventDefault();
                    $.ajax('/', {
                        data: { _id: $("#postID").val(),
                                title: $("#titleField").val(), 
                                body: $("#postField").val(),
                                username: $("#userField").val()
                            },
                        type: "PUT"
                    });
                });                
            });
        
        </script>


