<!-- post.ejs - EJS template for displaying existing posts; includes script for buttons and display -->

<!-- Show the "Add New Post" button if a user is logged in -->


<!-- Loop through posts array and create article for each item -->
<div id="posts">        
<% posts.forEach(function(post, i){ %>
    <article id="<%=post._id%>" >
        <header>
            <h2><%= post.title %></h2>
        </header>
        <div class="postContent">
        <small>Written by <span class="author"><%= post.username %></span> on <time><%= post.date %></time>.</small>
            <p><pre><%=post.body%></pre></p>
            <!-- Don't show edit/delete buttons unless the user is the author -->
            <% if (locals.user) { %>
            <% if (post.username == locals.user.username) { %>
            <div class="buttonRow">
                <button class="button deletePostBtn" type="button">Delete</button>
                <button class="button editPostBtn" type="button">Edit</button>
            </div>
            <% }} %>
        </div>
    </article>
<% }); %>        
</div>
       
<script>

//jQuery UI Accordion functionality

$("#posts").accordion({ 
    header: "header",
    active: "false",
    collapsible: "true",
    icons: "false"
    //heightStyle: "content"
});

// JavaScript to provide Edit/Delete button functionality

$(".deletePostBtn").on('click', function(){

    $.ajax('/', {
        data: { _id: $(this).parents('article').attr('id')
              },
        type: "DELETE",
        success: function(){
            window.location.href = window.location.href;
        },
        error: function(e, type, msg){
            alert(type + " : " + msg);
        }    
    });
});

$(".editPostBtn").click(function(){
    
    //Fill new post form fields with values from post
    $("#postForm").dialog('open');
    $("#titleField").val($(this).parents('.postContent').siblings('header').find('h1').text());
    $("#postField").val($(this).parent().siblings('pre').text());
    $("#postID").val($(this).parents('article').attr('id'));
    
    //Change submit button to use Ajax method instead of default action
    
    $("#postButton").on('click', function( e ){
        e.preventDefault();
        $.ajax('/', {
            data: { _id: $("#postID").val(),
                    title: $("#titleField").val(), 
                    body: $("#postField").val()
                },
            type: "PUT",
            success: function(){
                window.location.href = window.location.href;
            },
            error: function(err, errType, errMsg){
                alert(errMsg);
            }
        });
    });                
});

</script>


